@import "estilos.css";
*{
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

div h4{
    background-color:rgb(160, 139, 139);
}

#descricao{
    padding: 0.4vw 0.7vw;
    font-size: 1vw;
    box-shadow: 0 1px 2px rgba(0,0,0,0.24), 0 6px 2px rgba(0,0,0,0.24);
}


/*Permite não mostrar*/
.none{
    display: none;
}
/* Layout*/
.row::after{
    content: "";
    clear:both;
    display: table;
} 

/*Vídeo Responsivo*/
.container_video{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    width: 100%;
}
.responsive-iframe{
    left:0;
    top:0;
    bottom: 0;
    right: 0;
    height:100%;
    width:100%;
    position:absolute;
}

.grid-container{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2px 2fr 2px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ' . nav nav nav . '
    'header header header header header'
    'itemAuxiliar itemAuxiliar itemAuxiliar itemAuxiliar itemAuxiliar'
    'section . main . aside'
    'article article article article article '
    'footer footer footer footer footer';
    grid-gap:1vw;
    padding: 20px;
}

.item1 {
    grid-area : header;
    font-style: italic;
    text-align: center;
    font-size: 40px;
    font-family: 'EB Garamond', serif;
    size: 80px;
   
}

.item2{
    grid-area : nav;
    font-size: 18pt;
    top: 0; 
    text-align: center; 
    position: relative;
}

.item2 a {
    display: inline;
    text-align: center;
    margin: 0.7vw;
    text-decoration: none;
    color: white;
}

.item3{
    grid-area : main;
    text-align:justify;
    font-size: 1vw;
    padding: 2px; 
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 950px;
    min-height: 100%;   
    box-shadow: 0 1px 2px rgba(0,0,0,0.24), 0 6px 2px rgba(0,0,0,0.24);
}

.item4{
    grid-area : article;
    text-align: center;
    font-size: 1vw;
    background-color: white;
}

.item5{
    grid-area : aside;
    display: block;
    padding: 0.4vw 0.7vw;
    font-size: 1vw;
    margin-bottom: 10px;
    margin: 0.7vw;
    text-decoration: none;
}

.item7{
    grid-area : section;
    font-size: 1vw;
    background-color: white;
    border : 10px solid transparent;
    display: block;
    padding: 0.4vw 0.7vw;

}

.item6{
    grid-area : footer;
    color : white;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    font-size: 1vw;
}

/* Template das caixas com informação*/
.caixa_flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 3000px;
    max-height: 1000px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow-y: hidden;
}
.caixa{
    display: inline-block;
    width: 20%;
    margin: 1em;
    height: auto;
    background-color: #fff;
    box-shadow: 0 0 3px -1px rgba(0,0,0,0.4),
                0 13px 13px -10px rgba(0,0,0,0.4);
    border-radius: 3px;
    overflow-x: hidden;
}

.caixa1{
    display: inline-block;
    width: 100%;
    margin: 1em;
    height: auto;
    background-color: rgb(196, 187, 176);
    box-shadow: 0 0 3px -1px rgba(0,0,0,0.4),
                0 13px 13px -10px rgba(0,0,0,0.4);
    border-radius: 3px;
    overflow-x: hidden;
}

.caixa_header{
    width: 100%;
    height: auto;
    background-color:rgb(47, 56, 63);
    background: linear-gradient(to bottom, #7078a9 0%, rgb(230, 213, 183) 100%);
    position: relative;
}
.caixa_texto{
    margin: 1.2em auto 0.8em;
    max-width: 85%;
    color: #286197;
    font-size: 1vw;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.caixa_middle{
    width: 100%;
    height: 70px;
    background-color: #f6f6f9;
    text-align: center;
    position: relative;
}

.caixa_middle_name{
    margin: 0;
    color: #170e69;
    font-size: 2vw;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

/*Template das caixas de informação de reserva*/
.reserva_flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 3000px;
    max-height: 1000px;
    padding: 0 0.8em;
    -webkit-box-pack:justify;
        -ms-flex-pack: justify;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow-y: hidden;
}
.reserva{
    display: inline-block;
    width: 300px;
    margin: 1em;
    height: auto;
    background-color: #fff;
    box-shadow: 0 0 3px -1px rgba(0,0,0,0.4),
                0 13px 13px -10px rgba(0,0,0,0.4);
    border-radius: 3px;
    overflow-x: hidden;
}

.reserva1{
    display: inline-block;
    width: 100%;
    margin: 1em;
    height: auto;
    background-color: rgb(228, 172, 99);
    box-shadow: 0 0 3px -1px rgba(0,0,0,0.4),
                0 13px 13px -10px rgba(0,0,0,0.4);
    border-radius: 3px;
    overflow-x: hidden;
}

.reserva_header{
    width: 100%;
    height: auto;
    background-color:rgb(31, 95, 138);
    background: linear-gradient(to bottom, #7078a9 0%, orange 100%);
    position: relative;
}
.reserva_texto{
    margin: 1.2em auto 0.8em;
    max-width: 85%;
    color: #286197;
    font-size: 0.90em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 250;
    text-align: justify;
}

.reserva_middle{
    width: 100%;
    height: 80px;
    background-color: #f6f6f9;
    padding-top: 0.5em;
    text-align: center;
    box-shadow: 0 -1px 3px rgba(0,0,0,0.3),
                0 -5px 13px 0px rgba(106,66,87,0.4);
    position: relative;
    z-index: 2;
}

.reserva_middle_name{
    margin: 0;
    color: #170e69;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 2.3;
}

/*Criação de colunas*/
.column {
    float: left;
    width: 25%;
    padding: 10px;
    font-size: 1vw; 
}

.column1 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 20px;
    font-size: 1vw;
}
.column2{
    width: 100%;
    font-size: 1vw;
}

/* Clear floats after the columns */
.row1:after {
    content: "";
    display: table;
    clear: both;
}
  
/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 1000px) {
  .column {
        width: 50%;
    }
}
  
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/*Logotipo*/
.image{
    border-radius: 3px;
}


/*Imagens */

.img{
    width: 100%;
    height: auto; 
    border-radius: 3px;
}


/* Posição de imagens / texto */
#imagem{
    position: relative; 
    font-size: 0; 
    min-width: 600px;
    
}

#imagem.absolute{
    position:absolute;
    bottom: 100px;
    left: 158px;
    max-width: 100%;
}

/* Responsividade */
    /*for phone*/ 
    [class*="col-"] {
        width:100%;
        float: left;
        padding: 15px;
        flex: 100%;
    }

    /*for desktop*/
    @media only screen and(max-width: 1000px) {
    body{
            background-color: aliceblue;
            color : black;
            
    } 

        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 15%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 25%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}
    }


/* Galeria de imagens */
.gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
    filter: drop-shadow(2px 2px 3px #333);
}
  
.gallery-item .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
}


/* Galeria de imagens mirazur1 */
.middle {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.445);
    
}
.text {
    color: white;
    top : 20%;
    font-size: 0,5vw;
    position: absolute;
    text-align: center;
}
.image:hover img {
    opacity: 0.5;
} 
.image:hover .middle {
    opacity: 1;
} 

/* Galeria de imagens Celler*/

.columnImg{
    float: left;
    width: 20%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 300px);
    grid-auto-rows: 200px;
    grid-gap: 1rem;
    grid-auto-flow: dense;
}

.gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
    filter: drop-shadow(2px 2px 3px #333);   
}

.gallery-item .image {
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

.gallery-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
}

.columnImg .middle {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.445);
    padding: 5px;
}

.columnImg .text {
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 20%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    background-color:rgb(199,142,57);
}

.gallery-wrapper .image:hover img {
opacity: 0.5;
} 

.gallery-wrapper .image:hover .middle {
opacity: 1;
}

/*Galeria de Imagens Noma*/
.linhaImagem {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .colunaImagem {
    flex: 30%;
    max-width: 40%;
    padding: 0 4px;
  }
  
  .colunaImagem img {
    margin-top: 8px;
    vertical-align: middle;
  }

  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 1000px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }