@import "estilos.css";
*{
    box-sizing: border-box;
}

div h4{
    background-color:rgb(160, 139, 139); ;
}


/* Layout*/
.row::after{
    content: "";
    clear:both;
    display: table;
} 

.grid-container{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2px 2fr 2px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ' . nav nav nav . '
    'header header header header header'
    'itemCapa itemCapa itemCapa itemCapa itemCapa'
    '. main main . aside'
    'article article article article article '
    'footer footer footer footer footer';
    grid-gap:1vw;
    padding: 20px;
    text-align: center;
}

.item1 {
    grid-area : header;
    color :rgb(31, 95, 138);
    font-style: italic;
    text-align: center;
    font-size: 35px;
    font-family: 'EB Garamond', serif;
}

.item2{
    grid-area : nav;
    font-size: 20pt; 
    background-color: rgb(31, 95, 138); 
    text-align: center;
}

.item2__logo {
    max-width: 30px;
    height: auto;
    position: relative;
    top: 0.5em;
    left: 0.5em;
  }

.item2 a {
    display: inline;
    text-align: center;
    margin: 0.7vw;
    background-color: rgb(31, 95, 138);
    text-decoration: none;
    color: rgb(160, 139, 139);
}

.item3{
    grid-area : main;
    text-align:justify;
    font-size: 13pt;
    padding: 10px; 
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 950px;
    min-height: 100%;   
    box-shadow: 0 1px 2px rgba(0,0,0,0.24), 0 6px 2px rgba(0,0,0,0.24);
}

.item4{
    grid-area : article;
    text-align: center;
    font-size: 13pt;
    background-color: white;
}

.item5{
    grid-area : aside;
    display: block;
    padding: 0.4vw 0.7vw;
    text-align: justify;
    font-size: 13pt;
    margin-bottom: 10px;
    margin: 0.7vw;
    text-decoration: none;
}

.item6{
    grid-area : footer;
    background-color:rgb(31, 95, 138);
    color : white;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    font-size: 1vw;
}
/*Logotipo*/
.image{
    border-radius: 3px;
}


/*Imagem de capa*/
.container{
    position: relative;
}

img{
    width: 100%;
    height: auto; 
    border-radius: 3px;
}


/* Posição de imagens / texto */
#imagem{
    position: relative; 
    font-size: 0; 
    min-width: 600px;
    
}

#imagem.absolute{
    position:absolute;
    bottom: 100px;
    left: 158px;
    max-width: 100%;
}

/* Responsividade */

    /*for phone*/ 
    [class*="col-"] {
        width:100%;
        float: left;
        padding: 15px;
        flex: 100%;
    }
        

    /*for desktop*/
    @media only screen and(min-width: 768px) {
    body{
            background-color: aliceblue;
            color : black;
            
    } 

        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 15%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 25%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}
    }

